.app {
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;

  hr {
    width: 100%;
    border: none;
    height: 3px;
    margin: 0;
    padding: 0;

    &.white {
      background: linear-gradient(to right, var(--main), var(--main), white, var(--main), var(--main));
    }

    &.main {
      background: linear-gradient(to right, white, white, var(--main), white, white);
    }
  }
}